<?xml version="1.0" encoding="windows-1251"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.blockchain.org/rell/Rell"
			class = "org.blockchain.rell.rell.RellPackage"
			genModel = "model/generated/Rell.genmodel" />
	</extension>
</plugin>
